<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <app-friend
        [selectedFriend]="selectedFriend"
        (friendSelected)="onFriendSelected($event)">
      </app-friend>
    </div>
    <div class="col-md-8">
      <h5 *ngIf="selectedFriend">Chat with {{ selectedFriend.username || selectedFriend }}</h5>
      <div *ngIf="messages.length > 0; else noMessages">
        <div class="border rounded p-2 my-1">
          <div class="mb-0" style="white-space: pre-wrap;">{{ messages.join('\n') }}</div>
        </div>
      </div>
      <ng-template #noMessages>
        <p class="text-muted">No messages yet.</p>
      </ng-template>
      <form class="d-flex mt-3" (ngSubmit)="sendMessage()" *ngIf="selectedFriend">
        <input
          [(ngModel)]="newMessage"
          name="message"
          class="form-control me-2"
          placeholder="Type a message..."
          autocomplete="off"
        />
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>