<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <ng-container *ngIf="!selectedProfile; else profileView">

        <app-friend
          [selectedFriend]="selectedFriend"
          (friendSelected)="onFriendSelected($event)"
          (viewProfile)="onViewProfile($event)"
          (friendRemoved)="onFriendRemoved($event)"
          (friendsChanged)="onFriendsChanged($event)">
        </app-friend>

      </ng-container>
      <ng-template #profileView>

        <app-friend-profile
          [friend]="selectedProfile"
          (close)="selectedProfile = null">
        </app-friend-profile>

      </ng-template>
    </div>

    <div class="col-md-8">
      <h5 *ngIf="selectedFriend">Chat with {{ selectedFriend.username || selectedFriend }}</h5>
      
        <app-message-list
          [messages]="messages"
          [username]="username"
          [responses]="responses"
          [removeBullet]="removeBullet"
          (ideaResponse)="onIdeaResponse($event.message, $event.ideaIndex, $event.accepted)"
          (acceptAndShare)="acceptAndShareProject($event)">
        </app-message-list>

        <form
          class="d-flex mt-3"
          (ngSubmit)="sendMessage()"
          *ngIf="selectedFriend"
        >
          <input
            [(ngModel)]="newMessage"
            name="message"
            class="form-control me-2"
            placeholder="Type a message..."
            autocomplete="off"
            [disabled]="!isSelectedFriendAFriend()"
          />
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!isSelectedFriendAFriend()"
          >
            Send
          </button>
        </form>
          <div *ngIf="selectedFriend && !isSelectedFriendAFriend()" class="alert alert-info mt-2">
            You must be friends to chat.
          </div>
    </div>
  </div>
</div>