<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Projektatorn</a>
    <div class="navbar-nav ms-auto align-items-center">
      <a class="nav-link" routerLink="/signin" *ngIf="!auth.isLoggedIn()">Sign In</a>
      <a class="nav-link" routerLink="/signup" *ngIf="!auth.isLoggedIn()">Sign Up</a>
      <a class="nav-link" (click)="logout()" *ngIf="auth.isLoggedIn()" style="cursor:pointer;">Logout</a>
      <a
        class="nav-link p-0 ms-2"
        *ngIf="auth.isLoggedIn()"
        routerLink="/chat"
        title="Chat"
      >
        <img
          [src]="hasUnread ? 'assets/chatlogo_unread.png' : 'assets/chatlogo.png'"
          alt="Chat"
          style="height:32px;width:32px;object-fit:cover;"
        />
      </a>
      <a
        class="nav-link p-0 ms-2"
        *ngIf="auth.isLoggedIn()"
        [routerLink]="['/user']"
        title="Account"
      >
        <img
          [src]="userAvatar"
          alt="Account"
          style="height:32px;width:32px;object-fit:cover;border-radius:50%;"
        />
      </a>
    </div>
  </div>
</nav>