<div class="text-center">

  <h2>Welcome to Projektatorn!</h2><br>

  <p class="lead">
    Ask the prompt below what type of project you would like to co-work on with your friends - 
    and gemini api collects and returns these parameters to you a list of 10 possible projects. 
    You can then select two ideas from this list and send to your friends. 
  </p>

  <p class="lead">
    The goal of this application is co-creation for raising your attraction to future employers and brush off teamworking skills (and what do you know maybe some good friends too?) 
    <br>They can then reply what project sounds most interesting - and bam you can set up your project together where you choose to start co-creating!
  </p>

  <app-project-idea-wizard></app-project-idea-wizard>
</div>