<div class="text-center">

  <h2>Welcome to Projektatorn!</h2><br>

  <div class="mx-auto" style="max-width: 960px;">
    <p class="lead">
      This applications main goal is to act as an endless sprout of optimistim and idea-popping for the co-creation for you and your friends in programming projects.
      <br><br>
      Raise your attraction to future employers, brush off your teamworking skills and maybe make some good friends too?
      <br>
    </p>

    <p class="lead">
      Start by talking to the very kind and talkative prompt below to get you some ideas. After following the steps you will recieve a total of 4 project ideas, 
      in which you can then select 2 of the most attracting and send to your accepted friends. Sign up and click the friend component/chat icon in order to find how you make friends!
      <br><br>Every message is also securely end-to-end encrypted so you dont have to worry about me the system admin secretly reading your messages in your chat :)
    </p>
  </div>

  <app-project-idea-wizard></app-project-idea-wizard>
</div>